@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /* Primary colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradient colors */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  background-color: var(--pale-blue);
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;

  --main-width: 38rem;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: var(--main-width);
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(var(--main-width) / 2);
}

.results {
  padding: 2rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 1.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
}

.results h2 {
  color: var(--light-lavender);
}

.circle {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(var(--main-width) / 4);
  height: calc(var(--main-width) / 4);
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
}

.score {
  font-size: 4rem;
  font-weight: 800;
}

.of-100 {
  color: var(--light-lavender);
  font-weight: 700;
}

.great > span {
  font-size: 2rem;
  font-weight: 700;
}

.great > p {
  color: var(--pale-blue);
}

.summary {
}
